@page "/create-task"

@model Tasker.CreateTaskModel
@{
    ViewData["Title"] = "CreateTask";
}

<h1>New Task</h1>

<form asp-page="CreateTask" method="post">

    <label asp-for="NewTask.Title"></label>
    <input type="text" asp-for="NewTask.Title" />

    <label asp-for="NewTask.Description"></label>
    <input type="text" asp-for="NewTask.Description" />

    <label asp-for="NewTask.Priority"></label>
    <input type="number" asp-for="NewTask.Priority" />

    <input type="submit" />

</form>